.contact {
    margin-top: 20px;

    .ant-divider {
        border-top: 1px solid #000;
    }
    .ant-divider-horizontal {
        width: 30%;
        min-width: 30%;
        margin: 12px 0;
    }

    .address {
        img {
            margin-right: 20px;
        }   

            font-weight: 400;
            font-size: 22px;
            color: #4A4A4A;
    }

    .address-1 {
        img {
            width: 18px;
        }
    }
    .address-2 {
        img {
            width: 24px;
        }
    }
    .address-3 {
        img {
            width: 26px;
        }
    }

    .ant-form-item-control-input {
        background: #E7FFE9;
        border: none;
        height: 72px;

        .ant-form-item-control-input-content {
        height: 72px;
            display: flex;
            align-items: center;
            .ant-input {
                background-color: transparent;
                border: none;
                height: 40px;
                padding: 0 20px;
                outline: none;
            box-shadow: none !important;

            }

            .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input, .ant-input-status-error:not(.ant-input-disabled):not(.ant-input-borderless).ant-input:hover {
                background: transparent;
            }
        }


    }
    .btn {
        margin-top: 20px;
        border: none;
        outline: none;
        padding: 10px 20px;
        img {
            height: 22px;
            margin-right: 10px;
        }
        font-size: 18px;
        letter-spacing: 2px;
        background-color: #E7FFE9;

        &:hover {
            cursor: pointer;
            background-color: #B5C6B6;
            color: #414040;
        }
    }
    .social-media {
        width: 30px;
        margin-right: 20px;
    }
}